.detail{
	background-size: cover;
  background-repeat: no-repeat;
	padding: 5em 0 15em;
	position: relative;
	margin-top: -65px;
	z-index: 0;
	@media all and (max-width: $phone){
		padding: 5em 0 10em;
	}
	&__container{
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
		flex-wrap: wrap;
    @include box-sizing(border-box);
		@include container();
		z-index: 1;
	}
	&__text{
		margin: 4em auto;
		text-align: center;
		width: 75%;
		@media all and (max-width: $phone){
			width: 100%;
			margin: 2em 0;
		}
	}
	&__textCal{
		margin: 3em auto;
		text-align: center;
		width: 75%;
		@media all and (max-width: $phone){
			width: 100%;
			margin: 1em 0;
		}
	}
	&__services{
		width: 100%;
		display: -webkit-flex;
	    display: flex;
	   -webkit-justify-content: space-between;
	   justify-content: space-between;
		flex-wrap: wrap;
	   @include box-sizing(border-box);
		margin: 0 auto;
		@media all and (max-width: $phone){
			width: 100%;
		}
		/* Tablet */
		@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
			width: 100%;
		}
		/* Desktop */
		@media all and (min-width: ($tablet + 1)){
			width: 90%;
		}
		&__service{
			@include box-sizing(border-box);
			padding: 2em 3.5em;
			width: 50%;
			@media all and (max-width: $phone){
				padding: 1em 0 2em;
				width: 100%
			}
			/* Tablet */
			@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
				padding: 1em;
			}
		}
		.itemLeft{
			text-align: left;
			@media all and (max-width: $phone){
			}
		}
		.itemRight{
			margin-top: 5em;
			text-align: left;
			@media all and (max-width: $phone){
				margin-top: 0;
				text-align: right;
			}
		}
		.itemRightCal{
			text-align: left;
			@media all and (max-width: $phone){
				margin-top: 0;
				text-align: right;
			}
		}
		.inline{
			display: inline;
		}
		.imgFiltro{
			width: 140px;
		}
	}
	&__subphrase{
		padding: 1.5em 0;
	}
	&__subphraseCal{
		padding: 1.5em 0;
		font-size: 1em;
	}
	&__overlay{
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    z-index: 0;
		opacity: 0.9;
  	filter:  alpha(opacity=9);
	}
	&__price{
		padding: 0 0.5em;
		color: $blue;
	}
	&__colorTitle{
		color: $blue;
		padding: 0.25em 0;
	}
	&__bullet{
		color: $black;
	    padding: 1em 3em;
	    font-size: 12px;
	}

	.detailWidth{
		width: 50%;
		margin: 0 auto;
		@media all and (max-width: $tablet){
			width: 85%;
		}
	}

	/* Phone */
	@media all and (max-width: $phone){
	}
	/* Tablet */
	@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
	}
	/* Desktop */
	@media all and (min-width: ($tablet + 1)){
	}
}
.detailB{
	background-size: cover;
  background-repeat: no-repeat;
	padding: 5em 0 0;
	position: relative;
	margin-top: -65px;
	z-index: 0;
	@media all and (max-width: $phone){
		padding: 5em 0 0;
	}

	&__container{
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
		flex-wrap: wrap;
    @include box-sizing(border-box);
		@include container();
		z-index: 1;
		padding:0;
		@media all and (max-width: $tablet){
			width: 100%;
			margin: 2em 0;
			padding: 0;
		}
		@media all and (max-width: $phone){
			display: -webkit-flex;
	    display: flex;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
			flex-wrap: wrap;
	    @include box-sizing(border-box);
			@include container();
			z-index: 1;
		}
	}
	&__text{
		margin: 3em auto;
		text-align: center;
		width: 80%;
		@media all and (max-width: $phone){
			width: 100%;
			margin: 2em 0;
		}
	}
	&__list{
    width: 85%;
    margin: 2em auto;
    @media all and (max-width: $phone){
			width: 100%;
			margin: 2em auto;
		}
  }

	&__services{
		display: -webkit-flex;
    display: flex;
   	-webkit-justify-content: space-between;
   	justify-content: space-between;
		flex-wrap: wrap;
	  @include box-sizing(border-box);
			margin: 0 auto;
		@media all and (max-width: $phone){
			width: 100%;
		}
		/* Tablet */
		@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
			width: 90%;
		}
		/* Desktop */
		@media all and (min-width: ($tablet + 1)){
			width: 80%;
		}
		&__service{
			@include box-sizing(border-box);
			padding: 2em 3.5em;
			width: 50%;
			@media all and (max-width: $phone){
				padding: 1em 0 2em;
				width: 100%
			}
			/* Tablet */

		}
		.itemLeft{
			text-align: left;
			@media all and (max-width: $phone){
				text-align: left;
			}
		}
		.itemRight{
			margin-top: 0;
			text-align: left;
			@media all and (max-width: $phone){
				margin-top: 0;
				text-align: right;
			}
		}
		.itemRightCal{
			text-align: left;
			@media all and (max-width: $phone){
				margin-top: 0;
				text-align: right;
			}
		}
		.inline{
			display: inline;
		}
		.imgFiltro{
			width: 180px;
		}
	}
	&__subphrase{
		padding: 1.5em 0;
	}
	&__subphraseCal{
		padding: 1.5em 0;
		font-size: 1em;
	}
	&__overlay{
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    z-index: 0;
		opacity: 0.9;
  	filter:  alpha(opacity=9);
	}
	&__price{
		padding: 0 0.5em;
		color: $blue;
	}
	&__colorTitle{
		color: $blue;
		padding: 0.25em 0;
	}
	&__bullet{
		color: $black;
	    padding: 1em 3em;
	    font-size: 12px;
	}

	/* Phone */
	@media all and (max-width: $phone){
	}
	/* Tablet */
	@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
	}
	/* Desktop */
	@media all and (min-width: ($tablet + 1)){
	}

	

}

.detailCal{
	background-image: url("../img/cocina.jpg");
	background-size: cover;
  background-repeat: no-repeat;
	padding: 3em 0 3em;
	position: relative;
	margin-top: -65px;
	z-index: 0;
	@media all and (max-width: $phone){
		padding: 5em 0 2em;
	
		.section{
			&__container{
				padding: 0;
			}
			
		}
	}
}
.feedBlock{
	.section{
		&__container{
			padding: 0;
		}
		}
}
.iconBullet{
	color: $blue;
  font-size: 6px;
}
.mgBullet{
	color: $black;
  padding: 5px 0;
  font-size: 12px;
}

.detailCal{
	background-image: url("../img/cocina.jpg");
	background-size: cover;
  background-repeat: no-repeat;
	padding: 3em 0 3em;
	position: relative;
	margin-top: -65px;
	z-index: 0;
	@media all and (max-width: $phone){
		padding: 5em 0 2em;
	
		.section{
			&__container{
				padding: 0;
			}
			
		}
	}
}
.feedBlock{
	.section{
		&__container{
			padding: 0;
		}
		}
}
.iconBullet{
	color: $blue;
  font-size: 6px;
}
.mgBullet{
	color: $black;
  padding: 5px 0;
  font-size: 12px;
}
