.fold{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	padding-top: $desktop-header;
	position: relative;
	z-index: 1;
	margin-top: 70px;
	@media all and (max-width: $tablet){
    padding-top: $mobile-header;
  }
	&__container{
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    @include box-sizing(border-box);
		@include container();
		flex-direction: row;
		@media all and (max-width: $phone){
			flex-direction: column;
		}
	}
	&__side{
		width: 50%;
		&__text{
			@include box-sizing(border-box);
			padding: 2em 2em 0 0;
			@media all and (max-width: $phone){
				padding: 0;
			}
		}
		&__form{
			display: -webkit-flex;
    	display: flex;
      -webkit-justify-content: flex-end;
    	justify-content: flex-end;
    	@include box-sizing(border-box);
		}
		@media all and (max-width: $phone){
			width: 100%;
		}
	}
	&__title{
		color: $white;
		max-width: 420px;
	}
	&__phrase{
		color: $white;
		margin: 2em 0;
	}
	/* Phone */
	@media all and (max-width: $phone){
		background-position: top;
	}
	/* Tablet */
	@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
	}
	/* Desktop */
	@media all and (min-width: ($tablet + 1)){
	}

	.ecoIcon{
		width: 65px;
	    display: block;

	}

}

.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  width: 50%;
  margin: 0;
  @media all and (max-width: $phone){
    width: 100%;
  }
}
