.foldCalidad{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: $desktop-header;
	position: relative;
	z-index: 1;
	margin-top: 70px;
	@media all and (max-width: $tablet){
    padding-top: $mobile-header;

  }
	&__container{
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    @include box-sizing(border-box);
		@include container();
		flex-direction: row;
		z-index: 1;
		@media all and (max-width: $phone){
			flex-direction: column;
		}
	}
	&__overlay{
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.45);
		z-index: 0;
	}
	&__text{
		width: 80%;
		display: block;
		margin: 0 auto;
		padding: 3em 0 5em;
		@media all and (max-width: $phone){
			flex-direction: column;
			padding: 1em 0 2em;
			width: 90%;
		}
	}
	&__title{
		color: $white;
		// max-width: 620px;
		text-align: center;

	}
	&__phrase{
		color: $white;
		margin: 2em 0;
		text-align: center;

	}

	/* Phone */

	/* Tablet */
	@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
	}
	/* Desktop */
	@media all and (min-width: ($tablet + 1)){
	}

	.ecoIcon{
		width: 65px;
    display: block;
    margin: 0 auto;

	}
	
}

.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  width: 50%;
  margin: 0;
  @media all and (max-width: $phone){
    width: 100%;
  }
}
