.list{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	@include box-sizing(border-box);
	&__side{
		@include box-sizing(border-box);
		width: 50%;
		padding: 1em 3em;
		/* Phone */
		@media all and (max-width: $phone){
			width: 100%;
			padding: 0;
		}
	}
	&__item{
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
		@include box-sizing(border-box);
		margin: 1em 0;
		@media all and (max-width: $phone){
			margin: 1em 0;
		}
		.fa{
			@include fontSize(24px);
			font-weight: 300;
		}
		&__icon{
			margin: 0 0.5em;
			display: inline-block;
		}

		&__checkText{
			@include fontSize(18px);
			font-weight: 600;
		}
		&__checkTextCal{
			@include fontSize(18px);
			font-weight: 400;
			@media all and (max-width: $phone){
				@include fontSize(14px);
			}
		}
		&__checkTextCalIcon{
			@include fontSize(18px);
			font-weight: 400;
			margin-top: 1.1em;
			@media all and (max-width: $tablet){
				@include fontSize(18px);
				margin-top: 1.5em;
			}
			@media all and (max-width: $phone){
				@include fontSize(14px);
				margin-top: 1em;
			}
		}
	}
	&__blueIcon{
			width: 75px;
	    height: 75px;
	    padding: 0 1em;
	    @media all and (max-width: $phone){
				width: 50px;
	    	height: 50px;
			}
		}
}




.feed{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	@include box-sizing(border-box);
	&__item{
		@include box-sizing(border-box);
		padding: 2em;
		text-align: center;
		/* Phone */
		@media all and (max-width: $phone){
			width: 100%;
		}
		/* Tablet */
		@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
			width: 100%;
		}
		/* Desktop */
		@media all and (min-width: ($tablet + 1)){
			width: 33%;
		}
	}
	&__phrase{
		@include fontSize(16px);
		line-height: 20px;
		font-weight: 600;
		overflow: hidden;
		height: 120px;
		padding-bottom: 0;
		/* Phone */
		@media all and (max-width: $phone){
			height: auto;
			padding-bottom: 1em;
		}
	}
	&__name{
		@include fontSize(14px);
		font-weight: 300;
	}
}
/* Phone */
@media all and (max-width: $phone){

}
/* Tablet */
@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){

}
/* Desktop */
@media all and (min-width: ($tablet + 1)){
}
