.moreInfo{
	background-repeat: no-repeat;
	margin: 0;
	background-position: top;
	background-size: cover;
	padding: 5em 0;
	margin-top: -5em;
	position: relative;
  /* Phone */
  @media all and (max-width: $phone){
    padding: 2em 0 10em;
  }
}

.formTop{
  margin: 0;
  padding: 5em 0 2em;
  margin-top: -5em;
  position: relative;
  /* Phone */
  @media all and (max-width: $phone){
    padding: 3em 0 0;
  }
}

.section{
	&__container{
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
		flex-wrap: wrap;
    @include box-sizing(border-box);
		@include container();
		z-index: 1;
	}
  &__list{
    width: 100%;
    margin: 2em 0;
    padding-bottom: 2em;
    border-bottom: solid 1px $white;
  }
  &__listCal{
    width: 100%;
    margin: 0;
  }
  &__feed{
    width: 100%;
    margin: 2em 0;
    padding-bottom: 2em;
    //border-bottom: solid 1px $white;    
    @media all and (max-width: $phone){
      //border-bottom: solid 1px $white;
    }
  }
  &__calidad{
    width: 100%;
    margin: 1em 0;
    padding-bottom: 2em;
    border-bottom: solid 1px $white;
  }
  &__form{
    width: 100%;
    margin: 0;
    border-bottom: solid 1px $white;
  }
}

.paddingBottom {
	padding-bottom: 5em;
@media all and (max-width: $phone){
		padding-bottom: 5em;
	}
}
/* Phone */
@media all and (max-width: $phone){
}
/* Tablet */
@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
}
/* Desktop */
@media all and (min-width: ($tablet + 1)){
}
.mg-bottom{
  margin: 0;
  padding: 0;
}
