.thankyou{
	background-size: cover;
  background-repeat: repeat;
	padding: 15em 0 15em;
	position: relative;
	height: 100%;
	height: 50vh;
	z-index: 0;
	@media all and (max-width: $phone){
		padding: 10em 0 20em;
	}

	&__container{
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
		flex-wrap: wrap;
    @include box-sizing(border-box);
		@include container();
		z-index: 1;
	}
	&__text{
		margin: 4em auto;
		text-align: center;
		color: $white;
		width: 75%;
		font-size: 1.5em;
		@media all and (max-width: $phone){
			width: 100%;
			margin: 2em 0;
		}
	}

	&__subphrase{
		padding: 1.5em 0;
		line-height: 1em;
	}
	
	/* Phone */
	@media all and (max-width: $phone){
	}
	/* Tablet */
	@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
	}
	/* Desktop */
	@media all and (min-width: ($tablet + 1)){
	}
}

