<div class="list">
  <ul class="list__side">
    <li class="list__item">
      <i class="fa fa-check list__item__icon" aria-hidden="true"></i>
      <span class="list__item__checkTextCal">Paga con tu tarjeta de crédito o débito.</span>
    </li>
    <li class="list__item">
      <i class="fa fa-check list__item__icon" aria-hidden="true"></i>
      <span class="list__item__checkTextCal">El cambio de cartuchos corre por nuestra cuenta.</span>
    </li>
    <li class="list__item">
      <i class="fa fa-check list__item__icon" aria-hidden="true"></i>
      <span class="list__item__checkTextCal">Mantenimiento cada 6 meses.</span>
    </li>
  </ul>
  <ul class="list__side">
    <li class="list__item">
      <i class="fa fa-check list__item__icon" aria-hidden="true"></i>
      <span class="list__item__checkTextCal">Ahorro desde el primer día.</span>
    </li>
    <li class="list__item">
      <i class="fa fa-check list__item__icon" aria-hidden="true"></i>
      <span class="list__item__checkTextCal">Reduce tu consumo de PET.</span>
    </li>
    <li class="list__item">
      <i class="fa fa-check list__item__icon" aria-hidden="true"></i>
      <span class="list__item__checkTextCal">Cancela en cualquier momento.</span>
    </li>
  </ul>
</div>


