{% extends "layout/base.swig" %}

{% block head %}

<title>Rotoplas | Purificadores ahorradores</title>

<meta name="keywords" content="filtración, ahorro de agua, purificador económico, hogar, purificadores, agua potable, filtro barato, ahorro, garrafón, casa">
<meta name="description" content="Servicios accesibles de purificación de agua Rotoplas">


<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-111553236-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '343300759361236');
	fbq('track', 'PageView');
	</script>
	<noscript>
	<img height="1" width="1"
	src="https://www.facebook.com/tr?id=343300759361236&ev=PageView
	&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->




<!-- Crazy egg code -->
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0072/5137.js" async="async"></script>
<!-- end Crazy egg code -->

{% endblock %}

{% block content %}
{% include "layout/header.swig" %}
	<section class="foldCalidad" style="background-image: url('/static/img/nino.jpg');">
		<div class="foldCalidad__container">
			<div class="foldCalidad__text">
				<h1 class="foldCalidad__title landing__title ">Llevamos agua potable a tu hogar las 24 hrs.</h1>
				<h3 class="foldCalidad__phrase landing__phrase">Bebe agua con el mismo proceso de purificación que tu garrafón, ahorrándote el garrafón.
				</h3>
			</div>
		</div>
	</section>
	<section class="detailB" style="background-image: url('/static/img/cocina.jpg');">
		<div class="section">
			<div class="section__container">
				<div class="section__listCal" >
					{% include "layout/horizontal-formBorder.swig" %}
				</div>
			</div>
		</div>
		<div class="detailB__container">
			<div class="detailB__text">
				<h2 class="landing__subtitle">El servicio incluye un filtro, su instalación y el mantenimiento de los cartuchos cada 6 meses, sin costo extra.</h2>
			</div>

			<!-- List -->
			<div class="detailB__list">
				{% include "layout/list-icon.swig" %}
			</div>
			<!-- /List -->
				
			<!-- Servicios -->
			<div class="detailB__services">
				<div class="detailB__services__service itemLeft">
					<p class="detailB__price landing__price inline">$199.00</p>
					<img class="imgFiltro inline" src="/static/img/filtro2.png" alt="">
					<p class="detailB__colorTitle landing__colorTitle">Costo mensual del servicio</p>
					<div class="detailB__bullet">
					  <ul class="">
					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Sin olor.</span>
					    </li>
					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Sin sabor.</span>
					    </li>
					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Sin color.</span>
					    </li>

					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Elimina bacterias.</span>
					    </li>
					  </ul>
					</div>
				</div>
				<div class="detailB__services__service itemRight">
					<p class="detailB__price landing__price inline">$299.00</p>
					<img class="imgFiltro inline" src="/static/img/filtro1.png" alt="">
					<p class="detailB__colorTitle landing__colorTitle">Costo mensual del servicio</p>
					<div class="detailB__bullet">
					  <ul>
					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Sin olor.</span>
					    </li>
					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Sin sabor.</span>
					    </li>
					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Sin color.</span>
					    </li>

					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Elimina bacterias.</span>
					    </li>

					    <li class="mgBullet">
					      <i class="fa fa-circle list__item__icon iconBullet" aria-hidden="true"></i>
					      <span class="list__item__checkTextCal">Agua alcalina.</span>
					    </li>
					  </ul>
					</div>
				</div>
			</div>
			<!-- /Servicios -->
		</div>
		<!-- Contact -->
		<div class="section">
			<div class="section__container">
				<div class="section__form" >
					{% include "layout/horizontal-formBorder.swig" %}
				</div>
			</div>
		</div>
		<!-- /Contact -->
		<div class="detailB__overlay"></div>
	</section>
	<section>
		<!-- Feed -->
		<div class="section paddingBottom" style="background-color: #0081CA;">
			<div class="section__container">
				<div class="section__feed" style="color: #fff;">
					{% include "layout/feed.swig" %}
				</div>
			</div>
		</div>
		<!-- /Feed -->
	</section>
	<div id="loader" style="display:none;">
		<div class="loader">
			<p class="loadingText">Estamos procesando tu solicitud...</p>
		</div>
	</div>
	<!-- Asignamos nombre de landing para enviar a back -->
	<script type="text/javascript">
		var inputLanding = document.getElementsByClassName("landing_page");
		for(i = 0; i < inputLanding.length; i++) {
	 		inputLanding[i].value = "rotoplas-ahorro-b";
		}
	</script>
{% endblock %}
