{% extends "layout/base.swig" %}

{% block head %}

<title>Rotoplas | Purificadores </title>

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='166778622-11',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<meta name="keywords" content="Agua, calidad, ecológico, ecología, mantenimiento, servicio purificador, sin bacterias, agua alcalina, agua pura">
<meta name="description" content="Servicio de purificación de agua para reducir el impacto ambiental causado por PET, y ahorro de dinero.">




<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-111553236-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '343300759361236');
	fbq('track', 'PageView');
	</script>
	<noscript>
	<img height="1" width="1"
	src="https://www.facebook.com/tr?id=343300759361236&ev=PageView
	&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


<!-- Crazy egg code -->
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0072/5137.js" async="async"></script>
<!-- end Crazy egg code -->

{% endblock %}

{% block content %}
	{% include "layout/header.swig" %}
	<section class="fold" style="background-image: url('/static/img/arriba_curvas_azul.png')">
		<div class="fold__container">
			<div class="fold__side">
				<div class="fold__side__text">
					<img class="ecoIcon" src="/static/img/iconoEco.svg" alt="">
					<h1 class="fold__title landing__title">Una acción por el planeta.</h1>
					<h3 class="fold__phrase landing__phrase">Bebe agua de mejor calidad y reduce tu consumo de PET.</h3>

				</div>
			</div>
			<div class="fold__side">
				<div class="fold__form">
					<div class="formSimple formSimple--white">
						<h4 class="formSimple__disclose formSimple--txtBlack landing__disclose">Déjanos tus datos y te contactamos en menos de 48 horas.</h4>
						<form class="form">
							<input type="hidden" name="landing_page" class="landing_page">
					    <input type="hidden" name="utm_lead_source" class="utm_lead_source">
					    <input type="hidden" name="utm_lead_medium" class="utm_lead_medium">
					    <input type="hidden" name="utm_campaign" class="utm_campaign">
					    <input type="hidden" name="utm_campaign_content" class="utm_campaign_content">
					    <input type="hidden" name="utm_campaign_term" class="utm_campaign_term">
							<div class="input">
								<input type="text" name="nombre" placeholder="Nombre" class="input__text">
							</div>
							<div class="input">
								<input type="text" name="apellidos" placeholder="Apellidos" class="input__text">
							</div>
							<div class="input">
								<input type="tel" name="lada_telefono" placeholder="Teléfono (10 números)" class="input__text form-solo-numeros form-minMax" maxlength="10">
							</div>
							<div class="input">
								<input type="email" name="email" placeholder="Correo electrónico" class="input__text form-email">
							</div>
							<h5 class="formSimple__termCond formSimple--txtBlack landing__termCond">Al hacer click en Enviar, aceptas la <a href="https://rotoplas.com.mx/aviso-de-privacidad.html" class="formSimple--txtBlue">política de privacidad</a> de Rotoplas Labs.</h5>
							<p class="backResponse" style="color: black;"></p>

							<div class="formSimple__button input">
								<input type="submit" title="Enviar" value="ENVIAR" class="buttonSend buttonSend--blue input__submit btnSend">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="detail" style="background-image: url('/static/img/cocina2.jpg');">
		<div class="detail__container">
			<div class="detail__text">
				<h2 class="landing__subtitle">Ofrecemos un proceso de purificación más avanzado que el de tu garrafón a menor precio.</h2>
				<p class="detail__subphrase landing__subphrase">
					La instalación del filtro y el mantenimiento semestral de los cartuchos corre por nuestra cuenta en la contratación de cualquiera de nuestros servicios.
				</p>
			</div>
			<div class="detail__services">
				<div class="detail__services__service itemLeft">
					<p class="detail__price landing__price">$199.00</p>
          <p class="detail__colorTitle landing__colorTitle">Costo mensual del servicio</p>
					<p class="landing__detailInfo">Este servicio incluye un filtro que elimina bacterias y quita el olor, color y sabor del agua. Éste se instala debajo de la tarja y una pequeña llave se coloca al costado del grifo principal para ofrecer todas las bondades del agua recién purificada.</p>
				</div>
				<div class="detail__services__service itemRight">
					<p class="detail__price landing__price">$399.00</p>
					<p class="detail__colorTitle landing__colorTitle">Costo mensual del servicio</p>
					<p class="landing__detailInfo">Un servicio con tecnología de ultrafiltración, en otras palabras: el agua está libre de bacterias y virus. El agua que se filtra pasa por unos orificios 80 veces más delgados que un cabello, eliminando olor, sabor, sedimentos, metales pesados y TDS. Además dota al agua de propiedades alcalinas que ayudan a mejorar la digestión y funcionan como antioxidantes en el cuerpo.</p>
				</div>
			</div>
		</div>
		<div class="detail__overlay"></div>
	</section>
	<section class="moreInfo" style="background-image: url('/static/img/abajo_curvas_azul.png');">
		<!-- List -->
		<div class="section">
			<div class="section__container">
				<div class="section__list" style="color: #fff;">
					{% include "layout/list.swig" %}
				</div>
			</div>
		</div>
		<!-- /List -->
		<!-- Contact -->
		<div class="section">
			<div class="section__container">
				<div class="section__list" style="color: #fff;">
					{% include "layout/horizontal-form-green.swig" %}
				</div>
			</div>
		</div>
		<!-- /Contact -->
		<!-- Feed -->
		<div class="section">
			<div class="section__container">
				<div class="section__feed" style="color: #fff;">
					{% include "layout/feed.swig" %}
				</div>
			</div>
		</div>
		<!-- /Feed -->
	</section>
	<div id="loader" style="display:none;">
		<div class="loader">
			<p class="loadingText">Estamos procesando tu solicitud...</p>
		</div>
	</div>
	<!-- Asignamos nombre de landing para enviar a back -->
	<script type="text/javascript">
		var inputLanding = document.getElementsByClassName("landing_page");
		for(i = 0; i < inputLanding.length; i++) {
	 		inputLanding[i].value = "rotoplas-ecologico-a";
		}
	</script>
{% endblock %}
