{% extends "layout/base.swig" %}

{% block head %}

<meta name="keywords" content="contratación de servicio, purificadores, filtros de agua, servicio purificador, compra completa, compra exitosa">
<meta name="description" content="Contratación de servicio de purificación Rotoplas completada exitosamente">

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-111553236-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


<!-- Facebook Pixel Code -->
<script>
 !function(f,b,e,v,n,t,s)
 {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
 n.callMethod.apply(n,arguments):n.queue.push(arguments)};
 if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
 n.queue=[];t=b.createElement(e);t.async=!0;
 t.src=v;s=b.getElementsByTagName(e)[0];
 s.parentNode.insertBefore(t,s)}(window, document,'script',
 'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '343300759361236');
 fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
 src="https://www.facebook.com/tr?id=343300759361236&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->



{% endblock %}

{% block content %}
<!-- Google Code for Leads_Rotoplas Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 823545491;
var google_conversion_label = "apDnCIf4vnoQk53ZiAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/823545491/?label=apDnCIf4vnoQk53ZiAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>



{% include "layout/header.swig" %}
<script type="text/javascript">
	fbq('track', 'CompleteRegistration');
</script>
	<section class="thankyou" style="background-image: url('/static/img/fondoAzul.png');">
		<div class="thankyou__container">
			<div class="thankyou__text">
				<h1 class="landing__subtitle">Gracias por compartirnos tus datos</h1>
				<p class="thankyou__subphrase landing__subphrase">
					Un asesor se comunicará contigo en las próximas 48 horas.
				</p>
			</div>
		</div>
	</section>
{% endblock %}
