body{
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-base;
  position: relative;
}

.loadingText{
  color: black;
  @include fontSize(14px);
  font-weight: 600;
	text-align: left;
	width: 95%;
	margin: 0.5em auto;
}

.backResponse{
  @include fontSize(14px);
  font-weight: 600;
	text-align: left;
	margin: 0.85em 0;
}
