.borderWhite{
	background-color: $white;
	-webkit-box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
	-moz-box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
	box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
	@media all and (max-width: $phone){
		padding: 1em;
	}
}
