/* ------------- Colores.scss ------------- */

$black : #000;
$bright-red: #e74133;
$dirty-white: #fafafc;
$light-gray: #ebebeb;
$medium-gray: #909090;
$dark-gray: #272727;
$green: #2fd566;
$header-blue: #0081CA;
$white: #fff;
$gray: #E8E6E8;
$blue: #008FD0;
$button: #008CC6;
$blue-price: #0096DD;
$dark-gray: #424242;
$dark-blue: #002554;

.white{color:#fff;}
.bright-red{color:$bright-red;}

.bg-bright-red{background-color:$bright-red;}