.landing{
	&__title{
		font-weight: 600;
		@media all and (max-width: $phone){
			@include fontSize(36px);
			line-height: 45px;
		}
		/* Tablet */
		@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
			@include fontSize(40px);
			line-height: 50px;
		}
		/* Desktop */
		@media all and (min-width: ($tablet + 1)){
			@include fontSize(50px);
			line-height: 60px;
		}
	}
	&__subtitle{
		font-weight:700;
		@media all and (max-width: $phone){
			@include fontSize(22px);
		}
		/* Tablet */
		@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
			@include fontSize(26px);
		}
		/* Desktop */
		@media all and (min-width: ($tablet + 1)){
			@include fontSize(30px);
		}
	}
	&__phrase{
		font-weight: 400;
		line-height: 22px;
		@media all and (max-width: $phone){
			@include fontSize(16px);
		}
		/* Tablet */
		@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
			@include fontSize(18px);
		}
		/* Desktop */
		@media all and (min-width: ($tablet + 1)){
			@include fontSize(24px);
			line-height: 28px;
		}
	}
	&__subphrase{
		font-weight: 600;
		line-height: 22px;
		@media all and (max-width: $phone){
			@include fontSize(16px);
		}
		/* Tablet */
		@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
			@include fontSize(18px);
		}
		/* Desktop */
		@media all and (min-width: ($tablet + 1)){
			@include fontSize(20px);
		}
	}
	&__disclose{
		font-weight: 600;
		line-height: 22px;
		@media all and (max-width: $phone){
			@include fontSize(16px);
		}
		/* Tablet */
		@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
			@include fontSize(17px);
		}
		/* Desktop */
		@media all and (min-width: ($tablet + 1)){
			@include fontSize(18px);
		}
	}
	&__termCond{
		font-weight: 400;
		line-height: 20px;
		@include fontSize(12px);
	}
	&__price{
		@include fontSize(32px);
		font-weight: 700;
	}
	&__colorTitle{
		@include fontSize(20px);
		font-weight: 400;
	}
	&__detailInfo{
		@include fontSize(15px);
		font-weight: 400;
		line-height: 18px;
	}
}
