.formSimple{
	max-width: 360px;
	padding: 2em 3em;
	@media all and (max-width: $phone){
		max-width: 100%;
		padding: 1em;
	}
	font-weight:500;
	input[type="text"], input[type="email"], input[type="tel"],
	select, option,
	textarea {
		@include box-sizing(border-box);
		padding: 0 1em;
		display: block;
		font-size: 1em;
		margin: 1.5em 0;
		width: 100%;
		line-height: 2em;
		background-color: $gray;
		outline: none;
		border-color: transparent;
		border-radius: 15px;

		&::-webkit-input-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&:-ms-input-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&::-ms-input-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&::-moz-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&:-moz-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&:active,
		&:focus {
			&::-webkit-input-placeholder {
				color: gray;
			}
			&:-ms-input-placeholder {
				color: gray;
			}
			&::-moz-placeholder {
				color: gray;
			}
			&:-moz-placeholder {
				color: gray;
			}
		}
	}
	&__disclose{
	  padding: 1em 0;
	  text-align: center;
	}
	&__termCond {
		text-align: left;
		width: 95%;
		margin: 0.5em auto;
	}
	&--txtBlack{
		color: $black;
	}
	&--txtBlue{
		color: $blue;
		text-decoration: none;
		font-weight: 600;
	}
	&--txtWhite{
		color: $white;
		text-decoration: none;
		font-weight: 700;
	}
	.input-text {
		position: relative;
		padding-bottom: 1.3em;
		text-align: left;
		padding-top: 1em;
		&.has-error {
			.help-block {
				display: block;
				color: $bright-red;
				position: absolute;
				font-size: 13px;
				bottom: 3px;
			}
		}
	}
	.input-text {
		&.has-error {
			& input, & textarea{
				border-bottom:1px solid $bright-red;
			}
			&:after {
				content: 'X';
			    position: absolute;
			    top: 1.5em;
			    right: 3px;
			    color: $bright-red;
			    font-size: 15px;
			    font-weight: 600;
			}
		}
	}
	.input__text{
		&.error{
			border: 1px solid $bright-red;
		}&:after {
			content: 'X';
			position: absolute;
			top: 1.5em;
			right: 3px;
			color: $bright-red;
			font-size: 15px;
			font-weight: 600;
		}
	}
	&__button{
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin: 2em 0;
	}
	/* Phone */
	@media all and (max-width: $phone){
	}
	/* Tablet */
	@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
	}
	/* Desktop */
	@media all and (min-width: ($tablet + 1)){
	}
	&--white{
		background-color: $white;
		-webkit-box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
		-moz-box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
		box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
	}
}

.disabledBtn{
	background-color: gray;
}

.horizontal-form{
	padding: 2em 3em;
	max-width: 800px;
	margin: 0 auto;
	@media all and (max-width: $phone){
		padding: 0;
	}
	.form{
		margin: 1.5em 0;
		&__row{
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: space-around;
			justify-content: space-around;
			flex-wrap: wrap;
			@include box-sizing(border-box);
			&__item{
				width: 45%;
				@media all and (max-width: $phone){
					width: 100%;
				}
			}
		}
	}
	font-weight:500;
	input[type="text"], input[type="email"], input[type="tel"],
	select, option,
	textarea {
		@include box-sizing(border-box);
		padding: 0 1em;
		display: block;
		font-size: 1em;
		margin: 1em 0;
		width: 100%;
		line-height: 2em;
		background-color: $gray;
		outline: none;
		border-color: transparent;
		border-radius: 15px;

		&::-webkit-input-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&:-ms-input-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&::-ms-input-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&::-moz-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&:-moz-placeholder {
			letter-spacing: 1px;
			color: black;
		}
		&:active,
		&:focus {
			&::-webkit-input-placeholder {
				color: gray;
			}
			&:-ms-input-placeholder {
				color: gray;
			}
			&::-moz-placeholder {
				color: gray;
			}
			&:-moz-placeholder {
				color: gray;
			}
		}
	}
	&__disclose{
	  padding: 0.15em 0;
	  text-align: center;
	}
	&__termCond {
		text-align: left;
		margin: 0.5em auto;
		padding-top: 2em;
		@media all and (max-width: $phone){
			padding-top: 0;
		}
	}
	&--txtBlack{
		color: $black;
	}
	&--txtBold{
		color: $white;
		text-decoration: none;
		font-weight: 600;
	}
	&--txtWhite{
		color: $white;
		text-decoration: none;
		font-weight: 700;
	}
	.input-text {
		position: relative;
		padding-bottom: 1.3em;
		text-align: left;
		padding-top: 1em;
		&.has-error {
			.help-block {
				display: block;
				color: $bright-red;
				position: absolute;
				font-size: 13px;
				bottom: 3px;
			}
		}
	}
	.input-text {
		&.has-error {
			& input, & textarea{
				border-bottom:1px solid $bright-red;
			}
			&:after {
				content: 'X';
			    position: absolute;
			    top: 1.5em;
			    right: 3px;
			    color: $bright-red;
			    font-size: 15px;
			    font-weight: 600;
			}
		}
	}
	.input__text{
		&.error{
			border: 1px solid $bright-red;
		}&:after {
			content: 'X';
			position: absolute;
			top: 1.5em;
			right: 3px;
			color: $bright-red;
			font-size: 15px;
			font-weight: 600;
		}
	}
	&__button{
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin: 2em 0;
	}
	/* Phone */
	@media all and (max-width: $phone){
	}
	/* Tablet */
	@media all and (min-width: ($phone + 1) ) and (max-width: $tablet){
	}
	/* Desktop */
	@media all and (min-width: ($tablet + 1)){
	}
	&--white{
		background-color: $white;
		-webkit-box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
		-moz-box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
		box-shadow: 0px 10px 31px 0px rgba(173,173,173,0.49);
	}
}
