/* ------------- Mixins.scss ------------- */

@mixin box-sizing($param) {
  -webkit-box-sizing: $param;
  -moz-box-sizing: $param;
  box-sizing: $param;
}


@mixin fontSize($font){
	font-size: ($font / $font-size-base) * 1em;
}

@mixin fullContainer(){
	@include box-sizing(border-box);
	position: relative;
	width: 100%;
	height: 100%;
	@media (min-width: ($tablet + 1)) {
		min-height: 610px;
	}
}

@mixin smallContainer(){
	@include box-sizing(border-box);
	position: relative;
	margin: 0 auto;
	width: 578px;
	@media (max-width: $tablet) {
		width: 100%;
		padding: 0 10vw;
	}
	@media (min-width: $desktop + 1 ) and (max-width: $desktop-container - 1) {
		width: 100%;
		padding: 0 5vw;
	}
}

@mixin container(){
	@include box-sizing(border-box);
	position: relative;
	margin: 0 auto;
	width: $desktop-container;
	@media (max-width: $tablet) {
		width: 100%;
		padding: 0 10vw;
	}
	@media (min-width: $desktop + 1 ) and (max-width: $desktop-container - 1) {
		width: $desktop;
	}
}

@mixin fullBackground(){
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

@mixin centeredImg(){
	display: block;
	margin:0 auto;
}

@mixin titleLine(){
	content: ' ';
    display: block;
    width: 1.5em;
    height: 1px;
    position: absolute;
    top: 50%;
}
