
/* Screen sizes */
$desktop-container: 1170px;
$desktop: 960px;
$tablet:  959px;
$phone:  767px;

/* Fonts */
$font-size-base: 16px;
$font-color-base: $black;
$body-color-base: $black;

/* Header heights */
$desktop-header: 75px;
$mobile-header: 70px;
