.buttonSend{
	text-align: center;
	font-size: 20px;
	padding: 1em 1em 1.5em;
	cursor: pointer;
	&--blue{
		background-color: $blue;
		padding: 5px 40px;
		border-radius: 10px;
		color: $white;
		font-weight: 400;
		border: 1px solid $blue;
		&:hover,
		&:focus,
		&:active {
			background-color: $white;
			border: 1px solid $blue;
			color: $blue;
			outline: none;
		}
	}
	&--white{
		background-color: $white;
		padding: 5px 40px;
		border-radius: 10px;
		color: $blue;
		font-weight: 400;
		margin-left: auto;
		border: 1px solid $white;
		&:hover,
		&:focus,
		&:active {
			background-color: $blue;
			border: 1px solid $white;
			color: $white;
			outline: none;
		}
	}
	&--disabled{
		background-color: gray;
		padding: 5px 40px;
		border-radius: 10px;
		color: $white;
		font-weight: 400;
		margin-left: auto;
		border: 1px solid $gray;
		&:hover,
		&:focus,
		&:active {
			background-color: gray;
			border: 1px solid $gray;
			color: $white;
			outline: none;
		}
	}
}
