.footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $dark-blue;
  &__container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
		flex-wrap: wrap;
    @include box-sizing(border-box);
		@include container();
    max-width: 340px;
    padding: 0.6em 0;
    @media all and (max-width: $phone){
      -webkit-justify-content: center;
      justify-content: center;
		}
  }
  &__item{
    margin: 1em 0;
  }
  &__link{
    text-decoration: none;
    color: $white;
    @include fontSize(14px);
    font-weight: 600;
  }
}
