/* ------------- Header.scss ------------- */
// .header{
//   width: 100%;
//   height: $desktop-header;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 3;
//   &__container{
//     display: -webkit-flex;
//     display: flex;
//     -webkit-justify-content: flex-end;
//     justify-content: flex-end;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     @include container();
//     height: 100%;
//     @media all and (max-width: $phone){
//       -webkit-justify-content: space-around;
//       justify-content: space-around;
//     }
//   }
//   &__side{
//     display: -webkit-flex;
//     display: flex;
//     -webkit-justify-content: flex-start;
//     justify-content: flex-start;
//     -webkit-align-items: center;
//     align-items: center;
//   }
// 	&__logo-link{
// 	  width: 245px;
//     @media all and (max-width: $phone){
//       width: 192px;
//     }
// 	}
//   @media all and (max-width: $tablet){
//     height: $mobile-header;
//   }
// }


.header{
  width: 100%;
  height: $desktop-header;
  position: fixed;
  background-color: $dark-blue;
  top: 0;
  left: 0;
  z-index: 3;
  &__container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include container();
    height: 100%;
    @media all and (max-width: $phone){
      -webkit-justify-content: space-around;
      justify-content: space-around;
    }
  }
  &__side{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
  }
 &__logo-link{
   width: 150px;
    @media all and (max-width: $tablet){
      width: 150px;
    }
 }
  @media all and (max-width: $tablet){
    height: $mobile-header;
  }
}

